.aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}

.aboutInfo {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    width: 750px;
}

.aboutInfo p {
    margin-top: 10px;
}

.aboutInfo button {
    width: 130px;
    height: 38px;
    border-radius: 17px;
    border: none;
    color: white;
    margin-right: 10px;
    margin-top: 20px;
}

.aboutButton1 {
    background-color: #94CBFF;
}

.aboutButton2 {
    background-color: #474747;
}
