.introContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.introInfo {
    line-height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    margin: 45px 45px 20px;
}

.introInfo h1 {
    margin-bottom: 8px;
}

.introImage {
    display: flex;
    justify-content: center;
    width: 100%;
}

.introImage img {
    width: 50%;
}