.introContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10em;
    margin-top: 30px;
    min-height: 90vh;
    
}

.introArrow {
    width: 50%;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10em;
}

.introInfo {
    line-height: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
}

.introImage img {
    width: 60%;
}

