.projectOneContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.projectOneImageContainer div {
    width: 254px;
    height: 254px;
    border-radius: 44px;
}

.projectOne {
    background: rgba(255, 243, 136, 0.5);
    display: flex;
    justify-content: center;
}